[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
	branch = xcode7
[submodule "QRCodeReader.swift"]
	path = QRCodeReader.swift
	url = https://github.com/yannickl/QRCodeReader.swift
	branch = swift2
